<section class="py-10 bg-white border-y border-gray-100">
  <div class="marquee">
    <div class="marquee-content">
      <a target="_blank" href="https://www.caprari.com/en/" class="marquee-item"><img src="assets/partners-logos/caprari.webp" alt="caprari" /></a>
      <a target="_blank" href="https://www.sabarpumps.com/" class="marquee-item"><img src="assets/partners-logos/sapar.png" alt="sapar" /></a>
      <a target="_blank" href="https://www.felm.it/home-2/" class="marquee-item"><img src="assets/partners-logos/felm2.png" alt="felm" /></a>
      <a target="_blank" href="https://pumpiran.co/EN/" class="marquee-item"><img src="assets/partners-logos/iran-pumps2.jpeg" alt="Partner 1" /></a>
      <a target="_blank" href="https://www.sigmagroup.cz/en/" class="marquee-item"><img src="assets/partners-logos/sigma.png" alt="sigma" /></a>
      <a target="_blank" href="https://www.dredgepumpchina.com/about-ocean-pump/" class="marquee-item"><img src="assets/partners-logos/ocean-pumps.avif" alt="ocean-pumps" /></a>
    </div>
    
    <div class="marquee-content" aria-hidden="true">
      <a target="_blank" href="https://www.caprari.com/en/" class="marquee-item"><img src="assets/partners-logos/caprari.webp" alt="caprari" /></a>
      <a target="_blank" href="https://www.sabarpumps.com/" class="marquee-item"><img src="assets/partners-logos/sapar.png" alt="sapar" /></a>
      <a target="_blank" href="https://www.felm.it/home-2/" class="marquee-item"><img src="assets/partners-logos/felm2.png" alt="felm" /></a>
      <a target="_blank" href="https://pumpiran.co/EN/" class="marquee-item"><img src="assets/partners-logos/iran-pumps2.jpeg" alt="Partner 1" /></a>
      <a target="_blank" href="https://www.sigmagroup.cz/en/" class="marquee-item"><img src="assets/partners-logos/sigma.png" alt="sigma" /></a>
      <a target="_blank" href="https://www.dredgepumpchina.com/about-ocean-pump/" class="marquee-item"><img src="assets/partners-logos/ocean-pumps.avif" alt="ocean-pumps" /></a>
    </div>
  </div>
</section>