/* styles/variables.css */
:root {
  --main-color: #1e3575;
  /* Deep Navy */
  --secondary-color: #879ab3;
  /* Blue-Grey */
  --bg-color: #ffffff;
  --bg-secondary: #ffffff;
  /* Light Slate Gray */
  --white: #ffffff;
}